<!-- Source, author, title, description, image, published at date and the content -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />




</head>
<body>
<!-- START PAGE SOURCE -->
<div class="main" >
  <div id="header" class="box">
    <ul id="nav">
      <li class="current"><a href="index.html">Homepage</a></li>
    </ul>
  </div>
  <div id="section" class="box" *ngFor="let article of articles">
    <div id="content">
      <ul class="articles box">
        <li>
          <h2><a href="#">{{article.title}}</a></h2>
          <div class="article-info box">
           
            <p class="f-left">Description: {{article.description}} </p>
          </div>
          
          <p><img src="{{article.urlToImage}}" alt="" class="f-left" />{{article.content}}</p>
         
        </li>
        
       
      </ul>
     
    </div>
    <div id="aside">
      
      <ul class="menu">
        <li>Publised at: {{article.publishedAt}} </li>
        <li>Author: {{article.author}}</li>
        <li>Source: {{article.source.id}}</li>
        
      </ul>
      
    
     
    </div>
  </div>
</div>

</body>
</html>
