<!-- Source, author, title, description, image, published at date and the content -->


<div class="container">
    <nav>
        <button> <a href="index.html">Home</a></button>
    </nav>
    <div class="grid">
        <div class="article_body">
            <div class="article_body_box">
                <h1 class="heading medium_header">{{articleData.title}}</h1>
                <p class="sub-heading">
                    {{articleData.description}}
                </p>
                <img class="bodyImage" src="{{articleData.urlToImage}}">
                <p>{{articleData.content}}</p>
            </div>
        </div>

        <div class="article_sidebar-container">
            <div class="article_sidebar">
                <img class="thumb--large" src="{{articleData.urlToImage}}">

                <p class="sideBarParagraph">Publised at: {{articleData.publishedAt | date : 'fullDate'}}</p>

                <p class="sideBarParagraph">
                    Author: {{articleData.author}}
                </p>
                <p class="sideBarParagraph">
                    Source: {{articleData.source.name}}
                </p>

                <hr />



            </div>
        </div>


    </div>
</div>