<!-- Source, author, title, description, image, published at date and the content -->

<div class="main">
    <div id="header" class="box">
        <ul id="nav">
            <li class="current"><a href="index.html">Homepage</a></li>
        </ul>
    </div>
    <div id="section" class="box">
        <div id="content" *ngIf="articleData.length > 0">
            <ul class="articles box">
                <li>
                    <h2><a href="#">{{articleData.title}}</a></h2>
                    <div class="article-info box">

                        <p class="f-left">Description: {{articleData.description}} </p>
                    </div>

                    <p><img src="{{articleData.urlToImage}}" alt="" class="f-left" />{{articleData.content}}</p>

                </li>


            </ul>

        </div>
        <div id="aside">

            <ul class="menu">
                <li>Publised at: {{articleData.publishedAt}} </li>
                <li>Author: {{articleData.author}}</li>
                <li>Source: {{articleData.source.id}}</li>

            </ul>



        </div>
    </div>
</div>
